@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
html{
	height: 100%;
	margin: 0;
}

body{
    background: #3B828B;
}

.main{
	display: flex;
}

.container{
    text-align: center;
	padding: 18px;

}


.heading_font{
    color: aqua;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
}


.ml-container{
    text-align: center;
    margin: 30px 0;
	flex: 1 0 auto;
}

.message-box{
    margin-bottom: 20px;
	font-size: 24px;
    width: 600px;
    height: 300px;
    left: 178px;
    top: 256px;
    resize: none;
}

.btn-delete{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1280px;
    bottom: 435px;
    border-radius: 50px;
    transition: transform .3s;
	border-color: black;
}

.btn-delete:hover{
    color: red;
    transform: scale(1.2);


}

.my-cta-button{
    font-family: 'Indie Flower', cursive;
    background: black;
    color: white;
    border-radius: 50px;
    padding: 30px 30px;
    text-align: center;
    font-size: 24px;
    transition: transform .3s;
	border-color: black;
}

.my-cta-button:hover{
    color: black;
    background: white;
    transform: scale(1.2);
}


