@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/*Отключение стилей браузера*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Шаблон*/
body{
    background: #3B828B;
}
.header{
    padding-top: 10px;
    background: black;
    width: 100%;
    text-align: center;
    color: aqua;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    font-weight: bold;
    height: 100px;
    margin-bottom: 50px;
}

.main{
	display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}

.select{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    background: aqua;
    border: 2px solid black;
    border-radius: 50px;
    transition: transform .2s;

}

.select:hover{
    cursor: pointer;
    transform: scale(1.1);
}



.message-box{
    margin-bottom: 20px;
	font-size: 24px;
    width: 500px;
    height: 200px;
    resize: none;
    border: solid black;
    border-radius: 25px;
}

.btn-delete{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: transform .3s;
    border-color: black;
    bottom: 200px;
    right: 50px;
}

.btn-delete:hover{
    color: red;
    transform: scale(1.2);
    cursor: pointer;
}

.btn_post{
    font-family: 'Indie Flower', cursive;
    background: black;
    color: white;
    border-radius: 50px;
    border-color: black;
    padding: 30px 30px;
    font-size: 24px;
    transition: transform .3s;
    margin-left: 150px;
}

.btn_post:hover{
    color: black;
    background: white;
    transform: scale(1.2);
    cursor: pointer;
}
.container{
    margin: 0 auto;

}

.text_area_div{
    margin-left: 30px;
}

