@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&display=swap');
/*Отключение стилей браузера*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Шаблон*/
body{
    background-image: url('/static/img/bg1.jpg');
    background-repeat: no-repeat;
    width: 1366px;
    margin: 0 auto;
    background-size: cover;
    background-attachment: fixed;

}

textarea{
    padding-top: 5px;
    padding-left: 5px;
}
textarea:active {outline:none;}
:focus {outline:none;}

.header{
    padding-top: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 85px;
    font-weight: bold;
    height: 100px;
    padding-bottom: 30px;
    text-align: center;
    text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white, 7px 7px 0 aqua, 10px 10px 0 aqua;
}

.main_page{
    color: #6EB5C0;
    text-decoration: none;
}
.wrapper{

    width: 100%;
    margin: 0 auto;
}

.main{
	display: flex;
}

.select{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    background: #FFCCBB;
    border: 2px solid black;
    border-radius: 50px;
    transition: transform .2s;

}

.select:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.message-box{
    background: black;
    margin-bottom: 20px;
	font-size: 24px;
    width: 500px;
    height: 200px;
    resize: none;
    border: 5px solid black;
    border-radius: 20px;
    opacity: 0.8;
    font-weight: 900;
    color: white;
    padding-right: 40px;
}

.btn-delete{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: transform .3s;
    border-color: black;
    bottom: 235px;
    left: 510px;
}

.btn-delete:hover{
    color: red;
    transform: scale(1.2);
    cursor: pointer;
}

.btn-delete:active{
    transform: scale(0.95);
}


.btn-delete-post{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: transform .3s;
    border-color: black;
    bottom: 360px;
    left: 510px;
}

.btn-delete-post:hover{
    color: red;
    transform: scale(1.2);
    cursor: pointer;
}

.btn-delete-post:active{
    transform: scale(0.95);
}

.btn_post{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    font-weight: bold;
    background: #FFCCBB;
    color: black;
    border-radius: 50px;
    border-color: black;
    padding: 30px 30px;
    transition: transform .3s;
    margin-left: 150px;
}

.btn_post:hover{
    background: #E2E8E4;
    transform: scale(1.2);
    cursor: pointer;

}
.btn_post:active{
    transform: scale(0.95);
}
.container{
    margin: 0 auto;
}


