<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Переводчик</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">

</head>
<body>
	<header class="header">
		<div class="wrapper">
			<div class="header_logo_text">
				<i class="bi bi-translate"></i>Translator
			</div>
		</div>
	</header>
	<div class="wrapper">
		<div class="main">
			<div class="container">
				<form action="{{ url_for('predict') }}" id="form_select" method="POST">
					<div class="text_area_div">
						<textarea class='message-box' name="message"></textarea><br/>
						<input type="submit" class="btn_post" value="Перевести">
					</div>

				</form>
			</div>
			<div class="container">
				<select name="select" form="form_select" class="select">
					<option disabled>Выберите язык</option>
					<option value="Russian">Английский-Русский</option>
					<option value="English">Русский-Английский</option>
				</select>
			</div>
			<div class="container">
				<form action="{{ url_for('predict_delete') }}" method="POST">
					<textarea class='message-box' name="predict" readonly>{{prediction}}</textarea>
					<button class="btn-delete" title="Очистить"><i class="bi bi-x-lg"></i></button>
				</form>
			</div>
	</div>
	</div>

</body>
</html>
